.main-page--profile-picture {
	width: 40vw;
}

@media (max-width: 1024px) {
	.main--section {
		flex-direction: column-reverse;
	}
}

@media (max-width: 760px) {
	.main-page--profile-picture {
		width: 300px;
	}
}

@media (max-width: 420px) {
  .main-page--profile-picture {
    width: 90%;
  }
}