.ui-animate {
	&--delay {
		&-05 {
			animation-delay: 500ms;
		}

		&-10 {
			animation-delay: 1000ms;
		}

		&-15 {
			animation-delay: 1500ms;
		}

		&-20 {
			animation-delay: 2000ms;
		}

		&-25 {
			animation-delay: 2500ms;
		}

		&-30 {
			animation-delay: 3000ms;
		}

		&-5 {
			animation-delay: 3500ms;
		}
	}

	&--fast {
		animation-duration: 1000ms;
	}

	&--medium {
		animation-duration: 2000ms;
	}

	&--slow {
		animation-duration: 3000ms;
	}

	&--rotate-clock {
		animation-name: rotate-clock;
	}

	&--rotate-counter-clock {
		animation-name: rotate-counter-clock;
	}
}

@keyframes rotate-clock {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-counter-clock {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

.ui-tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
