h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.ui-h {
  &--1 {
    font-size: 60px;
  }

  &--2 {
    font-size: 48px;
  }

  &--3 {
    font-size: 42px;
  }

  &--4 {
    font-size: 38px;
  }

  &--5 {
    font-size: 34px;
  }

  &--6 {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .ui-h {
    &--1 {
      font-size: 52px;
    }

    &--2 {
      font-size: 44px;
    }

    &--3 {
      font-size: 40px;
    }

    &--4 {
      font-size: 36px;
    }

    &--5 {
      font-size: 30px;
    }

    &--6 {
      font-size: 26px;
    }
  }
}

@media (max-width: 1024px) {
  .ui-h {
    &--1 {
      font-size: 48px;
    }

    &--2 {
      font-size: 42px;
    }

    &--3 {
      font-size: 38px;
    }

    &--4 {
      font-size: 34px;
    }

    &--5 {
      font-size: 30px;
    }

    &--6 {
      font-size: 24px;
    }
  }
}

strong {
  text-transform: uppercase;
  font-weight: bolder;
}

em {
  font-style: italic;
  font-weight: bolder;
}
