.center-logo {
  padding-right: 30px;
}

@media (max-width: 1366px) {
  .center-logo {
    padding-right: 28px;
  }
}

@media (max-width: 1024px) {
  .center-logo {
    padding-right: 26px;
  }
}

@media (max-width: 1366px) {
  .center-logo {
    padding-right: 28px;
  }
}
