$border-styles: dashed, dotted, double, groove, hidden, inset, none, outset,
  ridge, solid, initial, inherit;

.ui-display {
  &--height {
    height: 100vh;
  }

  &--width {
    width: 100vw;
  }

  &--min-height {
    min-height: 100vh;
  }

  &--min-width {
    min-width: 100vw;
  }
}

@for $i from 1 through 25 {

  $size: $i * 1px;

  .ui-b--#{$i} {
    border: $size;
  }

  .ui-p--#{$i} {
    padding: $size;
  }

  .ui-m--#{$i} {
    margin: $size;
  }
}


.ui-border {
  @each $style in $border-styles {
    &--#{$style} {
      border-style: $style;
    }
  }

  @for $i from 1 through 25 {
    &--#{$i} {
      border-radius: calc($i * 1px);
    }
  }
}

.ui-margin {
  &--auto {
    margin: auto;
  }
}