.my-picture {
  width: 30vw;
}

.about-me-desc {
  width: 45%;
}

.breakpoint-btn--1 {
  display: none;
}

@media (max-width: 1024px) {
  .my-picture {
    width: 300px;
  }

  .about-me-desc {
    width: 80%;
    text-align: center;
  }

  .breakpoint--1024 {
    flex-direction: column-reverse;
  }

  .breakpoint-btn--1 {
    display: block;
  }

  .breakpoint-btn--2 {
    display: none;
  }
}

@media (max-width: 420px) {
  .my-picture {
    width: 90%;
  }
}