.main-page--profile-placement {
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 30vw;
}

.main-page--profile-picture {
  height: 300px;
  width: 300px;
}

.main-page--logo-placement {
  height: 300px;
  width: 300px;
}

.gmail-logo {
  fill: #ff0000;
  top: 50vh;
  left: 60vw;
}